.create {
    display: none;
  width: 555px;
  height: 385px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  position: absolute;
  top: 35px;
  left: 405px;
  z-index: 1000;
  backdrop-filter: blur(20px);
}
.create__top {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.create__top > p {
  margin-left: 15px;
  font-size: 20px;
}
.create_x {
  margin-right: 10px;
  margin-top: 5px;
}

.create__user {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.create__userInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.create__userInfo > p {
  font-weight: 600;
}
.create__btn {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.create__btn:hover {
  border: 2px solid rgb(88, 88, 88);
}
.create__btn-title {
  margin-left: 5px;
}
.create__icon {
  margin-left: 10px;
}

.create__inputContainer {
  width: 100%;
  padding: 10px 25px;
}
.create__input {
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  resize: none;

}
textarea{
      font-family: 'Poppins', sans-serif;
  font-size: small;
}
.create__bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.create__hastag {
  color: #0a66c2;
  font-weight: 600;
  margin-left: 25px;
}
.create__iconArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
.create__vline {
  height: 25px;
  border: 1px solid lightgray;
}
.create__bottomBtn {
  display: flex;
  border-radius: 20px;
  padding: 4px 7px;
  cursor: pointer;
  transition: 0.25s;
}
.create__bottomBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.create__bottomBtn > p {
  color: gray;
}
.create__iconWrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.create__iconWrap:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.create__post {
  background-color: #0a66c2;
  border-radius: 17px;
  color: white;
  font-size: 17px;
  width: 60px;
  height: 35px;
  outline: none;
  border: none;
  transition: 0.25s;
}
.create__post:hover {
  background-color: #09549e;
}
