.header__me{
  display: none;
  position: fixed;
  top:70px;
  right: 350px;
  width: 250px;
  height: 350px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
}
.header__metop{
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.header__user{
  display: flex;
  justify-content: center;
  align-items: center;

}
.header__info{
  margin-left: 5px;
  cursor: pointer;
}
.header__info>p{
  font-size: 14px;
}
.header__name{
  font-weight: 600;
}
.header__btn{
  height: 25px;
  border-radius: 10px;
  border: 1px solid #0077b5;
  color: #0077b5;
  outline: none;
  background-color: white;
  font-weight: 600;
  transition: 0.25s;
}
.header__btn:hover{
  border: 2px solid #0077b5;
  background-color: #63acd38c;
}
.header__mid,
.header__secondmid,
.header__btm{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.header__mid >p:not(:first-child):hover,
.header__secondmid >p:not(:first-child):hover,
.header__btm >p:hover{
  text-decoration: underline;
}
.header__bold{
  color: black;
  font-weight: 600;
}
.header__mid{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-items: center;
  flex-direction: column;
  line-height: 25px;
}
.header__btm{
  border-top: 1px solid lightgray;

}

.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.header__left {
  display: flex;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  height: 40px;
  width: 275px;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
  margin-left: 5px;
}

.header__right{
    display: flex;
}
.header__verticalLine{
    background: lightgray;
    width: 1.5px;
    margin-right: 20px;

}
.header__end{
    color: rgb(145, 89, 7);
        font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}
/* .......................... */