.sidebar {
  /* flex: 0.2; */
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
}
.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__start {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.sidebar__start > p,
.sidebar__start > div > p,
.sidebar__premium >p,
.sidebar__items > p {
  color: gray;
  font-size: 13px;
  font-weight: 400;
  text-align: start;
}
#sidebar__black{
 color: black;
}
.sidebar__startNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}
.sidebar__starts,
.sidebar__addinfo {
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
}
.sidebar__addinfo{
    border-top: 0;
    border-bottom: 0;
}
.sidebar__items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar__items > p{
    margin-left: 5px;
}


.sidebar__bottom {
  position: sticky;
  top: 80px;
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.sidebar__bottom>p{
    font-size: 13px;
    padding-bottom: 10px;
}
.sidebar__recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}
.sidebar__recentItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.sidebar__hash{
    margin-right: 10px;
    margin-left: 5px;
}
